<%= link_to "/explore" do %>
  <ul class='list-inline explore-list'>
    <li><img src='/assets/images/icons/bino_explore.png'/></li>
    <li><p class="paragraph" id="explore">EXPLORE LIBRARIES </p></li>
    <li><img src='/assets/images/icons/explore_arrow.png'/></li>
  </ul>
<% end %>