<div id='home-page'>
  <section class='home-top'>
    <h1 class="title">Books. Pass 'em on.</h1>
    <p class="paragraph">Find the best reads from your friends and inspirations.</br>
       Recommend books to people you know.</p>
    <% if current_user %>
      <%= link_to "Go to my bookself", user_path(current_user) %>
    <% else %>
      <%= link_to "Create my bookself", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </section>

</div>
