<div id='home-page'>
  <section class='home-top white'>
    <h1 class="title">Books. Pass 'em on.</h1>
    <p class="paragraph">Find the best reads from your friends and inspirations.</br>
       Recommend books to people you know.</p>
    <p class='box-button center-block'>
      <% if current_user %>
        <%= link_to "GO TO MY BOOKSELF", user_path(current_user) %>
      <% else %>
        <%= link_to "CREATE MY BOOKSELF", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </p>
  </section>

</div>