<div class='container text-center'>
  <% if @user == current_user %>
    <p>You don't have any books here yet.</p>
    <p class='box-button center-block'>
        <%= link_to "ADD YOUR FAVORITE BOOK", new_book_path %>
    </p>
  <% else %>
    <p><%= @user.first_name %> doesn't have any books here yet.</p>
    <p class='box-button center-block'>
        <%= link_to "BACK TO MY BOOKSELF", user_path(current_user) %>
    </p>
  <% end %>
  <%= render 'static_pages/explore',:layout => 'landing' %>
</div>