<div class='.big-photo'>
<%= render 'users/carousel' %>
</div>

<div id='user-search'>
  <form action='/explore' class='navbar-form form-inline'>
    <div class='form-group col-xs-9 col-sm-offset-1 col-xs-offset-0'>
      <input class='form-control search-bar' name='search' placeholder="Find someone's bookshelf" style="width: 100%;" type='text'>
    </div>
      <button class='form-group btn btn-primary search-button' id='corner-button' type='submit'>Search</button>
  </form>
</div>

<div class="container-fluid user-results">
  <div id="users">
    <%= render 'users/users_search' unless @searched_users.nil? %>
  </div>

  <h4 class='text-center' id="popular-title">POPULAR BOOKSHELVES</h4>

  <%= render 'users/user_cards', users: @popular_users %>
</div>