<% if @books.empty? && tab == "books" %>
  <h2>Hey, seems like you don't have any books.</h2>
  <h3><%= link_to "Why not add one?", new_book_path %></h3>
<% elsif @books.empty? && tab == "to-read" %>
  <h2>Hey, seems like you don't have anything you want to read.</h2>
  <h3><%= link_to "Why not see what others are reading", '/explore' %></h3>
<% else %>
  <div class='all-books' >
    <% @books.each do |book| %>
      <div class='col-sm-3 col-xs-6 book-row'>
        <div class='' >
          <a href='<%= book.amazon_link %>'>
            <img class='profile-book img-responsive' src='<%= book.cover_image_link %>'>
          </a>
        </div>
      </div>
    <% end %>
  </div>

<% end %>