<ul class='list list-inline'>
  <% if @user == current_user %>
    <li><h4>These are your books.</h4></li>
  <% else %>
    <li><h4>These are <%=@user.first_name %>'s books</h4></li>
  <% end %>

  <li><h5><%= link_to "[add more]", new_book_path %></h5></li>
</ul>

<div class='all-books' >
  <% @user.books.each do |book| %>
    <div class='col-sm-3 col-xs-6 book-row'>
      <div class='' >
        <a href='<%= book.amazon_link %>'>
          <img class='profile-book img-responsive' src='<%= book.cover_image_link %>'>
        </a>
      </div>
    </div>
  <% end %>
</div>