<% @user ||= current_user %>
<div class="stats">
  <% unless @user == current_user %>
    <a href="">
      <strong id="following" class="stat">
        <%= current_user.number_of_same_books(@user) %>
      </strong>
      books in common
    </a>
  <% end %>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>