<h2>Search for your book</h2>

<%= bootstrap_form_tag url: '/add-a-book', layout: :default do |f| %>
  <%= token_tag %>
  <%= f.text_field :book_info , label: "Book information" %>
  <%= f.submit "Search", class: 'btn btn-default' %>
<% end %>
