/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 *
 *
 */

@import "rails_bootstrap_forms";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "ms_class";
@import "*";

a, a.deco-none {
    color:inherit !important;
    text-decoration:none;
}

.container, .container-fluid {
  background: none;
}

#header{
  width: 100%;
  background: none;
  position: fixed;
  z-index: 100;
   /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out ;
  font-family: 'Leitura3';
}

.white {
  color: white;
}

.black {
  color: black;
}

.shrink {
  margin-top: -50px;
}

.header-background {
  background-color: pink;
}

.navbar {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0;
  vertical-allign: middle;

  h3 {
    font-size: 20px;
  }
}

#nav-item {
  line-height: 50px;
  vertical-allign: middle;
}

.nav-inner {
  text-align: center;
}

.nav-center{
    position: absolute;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.nav-tabs {
  border: none;
}

.tab:hover {
  border: none;
  font-weight: bold;
  text-decoration: underline;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  font-weight: bold;
}

.background-photo {
  position: absolute;
  min-width: 100%;
  max-width: 400%;
  width: auto;
  z-index: -100;
  height: 300px;
}

#profile-photo {
  margin-top: 250px;
  width: 100px;
  height: 100px;
}

.center-pills { 
  display: inline-block;
}

.all-books {
  font-size: 0;
  z-index: -10000;
  margin-left: 5%;
  margin-right: 5%;
}

.book-row {
  display: inline-block;
  float: none;
}


.profile-book {
  position: relative;
}

.profile-book, .search-book {
  vertical-align: bottom;
  padding-top: 15px;
  padding-bottom: 15px;
}

.follower-card {
  max-width: 400px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: inline-block;
  float: none;

  .col-xs-3 {
    padding: 5px;
  }

  #color {
    height: 100px;
  }

  #card-image {
    max-height: 100px;
    width: 100%;
    overflow: hidden;
    clip: rect(0,0,100px,0);
  }

  #card-info {
    margin-top: -33px;
    margin-left: 10px;
  }

  .user-photo {
    height: 66px;
    width: 66px;
  }

  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #followers-books {
    z-index: 0;
    margin-top: -10px;
  }
  .card-books {
    font-size: 0;
    z-index: -10000;
  }
}

.follower-card-hover {
  opacity: 0.5;
}

.follower-card:hover {
  opacity: 0.5;
}

.book-options {
  display: none;
  position: absolute;
  top: 0;
  color: black;
  vertical-align: middle;

  .hover-title {
    font-size: 12px;
  }

  .list-inline {
    margin-bottom: 0;
  }

  .hover-book-item {
    vertical-align: middle;
    line-height: 25px;

    img {
      height: 20px;
      width: auto;
    }
    .hover-text {
      font-size: 10px;
    }
  }
}


@media (min-width: 450px) and (max-width: 767px) {
  .follower-card {
    margin-left: 15%;
  }
}

@media (min-width: 768px) { 

  .navbar {
    h3 {
    font-size: 24px;
    }
  }
  .background-photo {
    height: 400px;
  }

  #profile-photo {
    margin-top: 337px;
    width: 126px;
    height: 126px;
  }

  .all-books {
    margin-left: 15%;
    margin-right: 15%;
  }

  .book-row {
    padding-left: -5px;
    padding-right: -5px;
  }

  .hover-book-item {
    vertical-align: middle;
    line-height: 45px;
  }

  .hover-title {
    font-size: 16px!important;
  }

  .hover-book-item {
    line-height: 40px!important;
    img {
      height: 30px!important;
    }
    .hover-text {
      font-size: 14px!important;
    }
  }


}

@media (min-width: 992px) {

  .background-photo {
    height: 440px;
  }

  #profile-photo {
    margin-top: 377px;
    width: 126px;
    height: 126px;
  }
}

@media (min-width: 1200px) {

  .background-photo {
    height: 480px;
  }

  #profile-photo {
    margin-top: 405px;
    width: 150px;
    height: 150px;
  }

  .profile-book {
    max-width: 200px;
  }

}

