/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "*";

a, a.deco-none {
    color:inherit !important;
    text-decoration:none;
}

.container, .container-fluid {
  background: none;
}

#background-photo {
  position: absolute;
  width: 100%;
  z-index: -100;
  height: 300px;
}

#header{
  width: 100%;
  background: none;
  position: fixed;
  z-index: 100;
   /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out ;
  font-family: 'Leitura3';
}

.shrink {
  margin-top: -50px;
}

.header-background {
  background-color: pink;
}

.navbar {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0;
  vertical-allign: middle;
}

#nav-item {
  line-height: 50px;
  vertical-allign: middle;
}

.nav-inner {
  text-align: center;
}

.nav-center{
    position: absolute;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.nav-tabs {
  border: none;
}

.tab:hover {
  border: none;
  font-weight: bold;
  text-decoration: underline;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  font-weight: bold;
}

#main-container {
  padding-top: 90px;
}

#profile-photo {
  margin-top: 160px;
  width: 100px;
  height: 100px;
}

.center-pills { display: inline-block; }

.all-books {
  font-size: 0;
}

.book-row {
    display: inline-block;
    float: none;
}

.profile-book, .search-book {
  vertical-align: bottom;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) { 

  #background-photo {
    height: 400px;
  }

  #profile-photo {
    margin-top: 247px;
    width: 126px;
    height: 126px;
  }

  .book-row {
    padding-left: -5px;
    padding-right: -5px;
  }

  #main-container {
    width: 650px;
  }


}

@media (min-width: 992px) {
  #main-container {
    width: 850px;
  }
}

@media (min-width: 1200px) {

  #profile-photo {
    margin-top: 235px;
    width: 150px;
    height: 150px;
  }

  #main-container {
    width: 900px;
  }

  .profile-book {
    max-width: 200px;
  }

}

