@font-face {
    font-family: 'Karla';
    src: asset-url('KarlaRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: asset-url('KarlaBold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: asset-url('KarlaItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: asset-url('KarlaBoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Leitura2';
    font-weight: normal;
    font-style: normal;
    src: asset-url('LeituraNewsRoman2.otf');
}

@font-face {
    font-family: 'Leitura1';
    font-weight: normal;
    font-style: normal;
    src: asset-url('LeituraNewsRoman1.otf');
}


@font-face {
    font-family: 'Leitura3';
    font-weight: normal;
    font-style: normal;
    src: asset-url('LeituraNewsRoman3.otf');
}

@font-face {
    font-family: 'Leitura4';
    font-weight: normal;
    font-style: normal;
    src: asset-url('LeituraNewsRoman4.otf');
}





