.white {
  color: white!important;
}

.black {
  color: black!important;
}


.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

h1 {
  font-family: 'Leitura4';
}

h2 {
  font-family: 'Leitura3';
}

#background-photo-home {
  position: absolute;
  width: 100%;
  z-index: -100;
  height: 600px;
  background-color: #2E8A2E;
}

#header-home {
  width: 100%;
  background: none;
  position: fixed;
  z-index: 100;
   /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out ;
  font-family: 'Leitura3';
}


.box-button {
  margin-top: 40px;
  width: 300px;
  height: 45px;
  background-color: #337ab7;
  line-height: 45px;
  vertical-align: middle;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.paragraph {
  padding-top: 20px;
  font-family: "Karla";
  font-size: 20px;
}

.home-top {
  text-align: center;

  .title {
    margin-top: 200px;
    font-size: 30px;
  }

  .paragraph {
    font-size: 15px;
  }

  .box-button {
    background-color: white;
    color: black;
  }
}

.home-middle {
  margin-top: 200px;
  margin-bottom: 75px;
  background-color: white;
  text-align: center;

  .title, .paragraph {
    margin-right: 5%;
    margin-left: 5%;
  }
  .title {
    margin-top: 300px;
    font-size: 24px;
    
  }

  .paragraph {
    font-size: 16px;
  }
}

.explore-list {
  margin-top: 15px;
  li {
  vertical-align: middle;
  line-height: 35px;
  }
}

#explore {
  font-size: 23px;
  font-weight: bold;
  color: #4A90E2;
  padding: 0;
  margin: 0;
}

#book-row-landing {
  margin-top: 15px;
  background-color: yellow;
  height: 300px;
  width: 100%;
}

.home-quote {
  text-align: center;
  vertical-align: middle;
  background-color:#2E8A2E; 
  height: 400px;
}

.quote {
  padding-top: 150px;
  font-size: 20px;
}

#quote-name {
  font-size: 16px;
}

.home-bottom {
  margin-top: 150px;
  background-color: white;
  text-align: center;
  padding-bottom: 50px;
}

.home-last-call {
  background-color: yellow;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h1, p {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.footer {
  padding-top: 25px;
  text-align: center;
}

#carousel-example-generic {
  overflow: hidden;
  clip: rect(0,0,600px,0);
}

.carousel-image {
  min-width: 100%;
  max-width: 150%!important;
  height: 450px!important;
}

.carousel-caption {
  position: absolute;
  .carousel-name{
    font-size: 24px;
  } 

  .carousel-description{
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 20px
  }
}

#user-search {
  background-color: #99C2EB;
  margin-top: -8px;
  height: 60px;
}


.search-button:hover {
  opacity: 0.5;
}

.user-results {
  background-color: white;
}

#popular-title {
  margin-top: 40px;
}

.follower-card-container {
  font-size: 0;
  z-index: -10000;
}

.search-bar {
  margin-top: -4px;
  background-color: #99C2EB;
  border: none;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  box-shadow: none;
}

.search-button {
  border-radius: 0;
  height: 60px;
  font-size: 16px;
}

@media (min-width: 768px) { 
  .home-top {
    text-align: center;

    .title {
      margin-top: 250px;
      font-size: 48px;
    }

    .paragraph {
      font-size: 20px;
    }

    .box-button {
      background-color: white;
      color: black;
    }
  }

  .home-middle {
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    text-align: left;

    .title, .paragraph {
      margin: 0;
    }
    .title {
      margin-top: 200px;
      font-size: 36px;
    }

    .paragraph {
      font-size: 20px;
    }
  }

  .quote {
    padding-top: 150px;
    font-size: 30px;
  }

  #quote-name {
    font-size: 20px;
  }

  .home-bottom {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .home-last-call {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #user-search {
    height: 90px;
  }
  .search-bar {
    margin-top: 10px;
    background-color: #99C2EB;
    border: none;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    box-shadow: none;
  }

  .search-button {
    border-radius: 0;
    width: 150px;
    height: 90px;
    font-size: 24px;
  }

  .home-middle {
    margin-left: 5%;
  }

  #carousel-example-generic {
    height: 600px;
  }

  #carousel-example-generic {
    overflow: hidden;
    clip: rect(0,0,600px,0);
  }

  .carousel-image {
    min-width: 100%;
    max-width: none!important;
    height: 600px!important;
    background-size: cover;
  }

  .carousel-caption {
    .carousel-name{
      font-size: 36px;
    } 

    .carousel-description{
      font-size: 24px;
    }

    .carousel-see-bookshelf {
      margin-top: 150px;
      margin-bottom: 100px;
    }
  }

  .user-results {
    margin-right: 10%;
    margin-left: 10%;
  }

  .follower-card-container {
    margin-left: 5%;
    margin-right: 5%;
  }

}

@media (min-width: 992px) { 

  .user-results {
    margin-right: 10%;
    margin-left: 10%;
  }

  #carousel-example-generic {
    overflow: hidden;
    clip: rect(0,0,600px,0);
  }

  .carousel-image {
    min-width: 100%;
    max-width: 1200px!important;
    height: auto!important;
    background-size: cover;
  }

  .carousel-caption {
    .carousel-name{
      font-size: 38px;
    } 

    .carousel-description{
      font-size: 26px;
    }

    .carousel-see-bookshelf {
      margin-bottom: 300px;
    }
  }
}

@media (min-width: 1200px) { 

    .search-button {
      width: 175px;
    }

    .user-results {
      margin-right: 12.5%;
      margin-left: 12.5%;
    }

    .carousel-image {
      min-width: 100%;
      max-width: 1350px!important;
      background-size: cover;
    }

    .carousel-see-bookshelf {
      margin-bottom: 400px!important;
    }

}