.white {
  color: white;
}

.black {
  color: black;
}

.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

h1 {
  font-family: 'Leitura4';
}

h2 {
  font-family: 'Leitura3';
}

#background-photo-home {
  position: absolute;
  width: 100%;
  z-index: -100;
  height: 400px;
  background-color: #2E8A2E;
}

#header-home {
  width: 100%;
  background: none;
  position: fixed;
  z-index: 100;
   /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out ;
  font-family: 'Leitura3';
  color: white;
}

.home-top {
  text-align: center;
  height: 600px;
  padding-top: 250px;

  .title {
    font-size: 48px;
  }

  .box-button {
    background-color: white;
    color: black;
  }
}

.box-button {
  margin-top: 40px;
  width: 300px;
  height: 45px;
  background-color: #337ab7;
  line-height: 45px;
  vertical-align: middle;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.paragraph {
  padding-top: 20px;
  font-family: "Karla";
  font-size: 20px;
}

.home-middle {
  margin-top: 75px;
  margin-bottom: 75px;
  background-color: white;
}

#explore {
  font-size: 23px;
  font-weight: bold;
  color: #337ab7;
}

#book-row-landing {
  margin-top: 15px;
  background-color: yellow;
  height: 300px;
  width: 100%;
}

.home-quote {
  text-align: center;
  vertical-align: middle;
  background-color:#2E8A2E; 
  height: 400px;
}

.quote {
  padding-top: 150px;
}

#quote-name {
  font-size: 18px;
}

.home-bottom {
  margin-top: 150px;
  background-color: white;
  text-align: center;
  height: 600px;
}

@media (min-width: 768px) { 
  #background-photo-home {
    height: 600px;
    background-color: #2E8A2E;
  }

  .home-middle {
    margin-left: 5%;
  }

}

