<div class="container-fluid">
  <% if @user.nil? %>
    <div class='background-photo'  style="background-color:<%= random_color %>;"></div>
  <% elsif (@user.nil? || @user.cover.url.empty?) && !@user.color.nil? %>
    <div class='background-photo'  style="background-color:<%= @user.color %>;"></div>
  <% else %>
    <img class='img-responsive background-photo' src="<%= @user.cover(:original) %>"/>
  <% end %>
</div>

