<div class="container-fluid">
  <% if !@user.nil? && @user.cover.url.present? %>
    <img class='img-responsive background-photo' src="<%= @user.cover(:original) %>"/>
  <% elsif !@user.nil? && @user.color.present? %>
    <div class='background-photo'  style="background-color:<%= @user.color %>;"></div>
  <% else %>
    <div class='background-photo'  style="background-color:<%= random_color %>;"></div>
  <% end %>
</div>


