<div>
  <ul class='list-inline'>
    <li class="nav">
      <h2 id="title">Bookself</h2>
    </li>
    <li class="nav pull-right">   
      <ul class='list-inline'>
        <% if current_user %>
<!--           <li><img id='user-photo' src='<%= current_user.image %>'></img></li>  -->
          <li><h3 id ='user-name'><%= current_user.first_name %></h3></li> 
          <li>
            <%= link_to signout_path, id: "sign_out" do %>
<!--               <img id='fb-logout' src='/images/fb_logout.png' /> -->
              Sign Out
            <% end %>
          </li>
        </ul>
      <% else %>
          <li class='nav pull-right'>
            <%= link_to "/auth/facebook", id: "sign_in" do%>
              Log in with Facebook
<!--               <img id='fb-login' src='/images/fb_login.png' /> -->
            <% end %>
          </li>
      <% end %>
    </li>
  </ul>
</div>
    