<div id='navbar'>
  <ul class='list-inline '>
    <li class="nav nav-list">
      <%= link_to root_path do %>
        <h2 id="title">Bookself</h2>
      <% end %>
    </li>

    <% if current_user %>

      <li class='nav pull-right'>
        <h4><%= link_to "Sign out", signout_path %></h4>
      </li>

      <li class='nav pull-right'>
        <h3><%= link_to "#{current_user.first_name}", user_path(current_user) %></h3>
      </li>

    <% else %>

      <li class='nav pull-right'>
        <%= link_to "/auth/facebook", id: "sign_in" do%>
          Log in with Facebook
        <% end %>
      </li>

    <% end %>
  </ul>
</div>
    